<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Beniz</title>
</head>
<body>

<!--<p th:text="'My dong is ' + ${size} + ' long!'"/>-->

<!--<table>-->
    <!--<th:block th:each="doc : ${docs}">-->
        <!--<tr>-->
            <!--<td th:text="${doc.firstname}"></td>-->
            <!--<td th:text="${doc.lastname}"></td>-->
        <!--</tr>-->
        <!--<tr>-->
            <!--<td colspan="2" th:text="${doc.id}"></td>-->
        <!--</tr>-->
    <!--</th:block>-->
<!--</table>-->


<th:block>
    <form action="#" th:action="@{/beniz}" th:object="${doctor}" method="post">
        <input type="text" th:field="*{id}"/>
        <input type="text" th:value="*{firstname}"/>
        <input type="text" th:value="*{lastname}"/>
        <input type="submit" value="Submit"/>
            <input type="reset" value="Rest"/>
    </form>
</th:block>


<!--handling form data - post and get-->

</body>
</html>