<nz-layout class="layout">
  <nz-header style="background:darkorange;">
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'"  style="line-height: 64px; background:darkorange;">
      <li nz-menu-item>
        <a routerLink="/home"><img src="../../../favicon.ico"/> <b>BiddingPlatform</b></a>
      </li>
      <li nz-menu-item style="width: 50px"></li>
      <li nz-menu-item>
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="Search the items" nzSize="large">
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon type="search"></i>
        </ng-template>
      </li>
      <li nz-menu-item style="width: 50px"></li>
      <li nz-menu-item>Login</li>
      <li nz-menu-item>Cart</li>
      <li nz-menu-item>Settings</li>
      <li nz-menu-item><a routerLink="/about">About</a></li>
    </ul>

  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%;">
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="mobile"></i>Electronics</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="home"></i>Home</span>
          <ul>
            <li nz-menu-item>Garden</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="shopping"></i>Fashion</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="coffee"></i>Food</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="smile"></i>Health</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="trophy"></i>Sports</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="read"></i>Books</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="car"></i>Vehicles</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="thunderbolt"></i><b>Sale</b></span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>a</nz-breadcrumb-item>
        <nz-breadcrumb-item>b</nz-breadcrumb-item>
        <nz-breadcrumb-item>c</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 700px">
        <ng-content></ng-content>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
