<nz-layout class="layout">
  <nz-header style="background:darkorange;">
    <div class="logo"></div>
    <ul nz-menu [nzTheme]="'light'" [nzMode]="'horizontal'" style="line-height: 64px; background:darkorange;">
      <li nz-menu-item>
        <a routerLink="/home"><img src="../../../favicon.ico"/> <b>BiddingPlatform</b></a>
      </li>
      <li nz-menu-item>nav 2</li>
      <li nz-menu-item><a routerLink="/about">About us</a></li>
    </ul>
  </nz-header>
  <nz-layout>
    <nz-sider [nzWidth]="200" style="background:#fff">
      <ul nz-menu [nzMode]="'inline'" style="height:100%;">
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="fire"></i>Electronics</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span title><i nz-icon type="home"></i>Home</span>
          <ul>
            <li nz-menu-item>Garden</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="fire"></i>Fashion</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span  (click)="goToUrl('/blackfriday')" title><i nz-icon type="fire"></i>Grocery</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="fire"></i>Health</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="fire"></i>Sports</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="fire"></i>Books</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="fire"></i>Vehicles</span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
        <li nz-submenu>
          <span (click)="goToUrl('/blackfriday')" title><i nz-icon type="fire"></i><b>Black Friday</b></span>
          <ul>
            <li nz-menu-item>Best deals</li>
            <li nz-menu-item>Popular choices</li>
            <li nz-menu-item>Cheapest</li>
          </ul>
        </li>
      </ul>
    </nz-sider>
    <nz-layout style="padding:0 24px 24px">
      <nz-breadcrumb style="margin:16px 0;">
        <nz-breadcrumb-item>a</nz-breadcrumb-item>
        <nz-breadcrumb-item>b</nz-breadcrumb-item>
        <nz-breadcrumb-item>c</nz-breadcrumb-item>
      </nz-breadcrumb>
      <nz-content style="background:#fff; padding: 24px; min-height: 700px">
        <ng-content></ng-content>
      </nz-content>
    </nz-layout>
  </nz-layout>
</nz-layout>
